*{
    background-color:black;
}

body{
    color: aliceblue;
}

.div1{
    background-color: aqua;
    color: black;
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: auto;
}

.span1{
    background-color: tomato;
    columns: black;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.box1{
    color: aliceblue;
    width: 48%;
    height: auto;
    border: 2px solid;
    border-color: aliceblue;
    display: inline-block;
    padding: 1%;
    text-align: justify;
}

.box2{
    color: aliceblue;
    width: 48%;
    height: auto;
    border: 2px solid;
    border-color: aliceblue;
    display: inline-block;
    padding: 1%;
    text-align: justify;
}

